<form method="POST" action="/teams">
  
  <h1>Create a Team and Heroes!</h1>
    <label for="name">Team Name:</label>
    <input type="text" name="name"><br>
    <label for="name">Team Motto:</label>
    <input type="text" name="motto">
    
  <h2>Hero 1</h2>
  <label for="name">Hero's Name:</label>
  <input id="hero1_name" type="text" name="name"><br>
  <label for="name">Hero's Power:</label>
  <input id="hero1_power" type="text" name="power"><br>
  <label for="name">Hero's Biography:</label>
  <input id="hero1_biography" type="text" name="biography">
  
  <h2>Hero 2</h2>
  <label for="name">Hero's Name:</label>
  <input id="hero2_name" type="text" name="name"><br>
  <label for="name">Hero's Power:</label>
  <input id="hero2_power" type="text" name="power"><br>
  <label for="name">Hero's Biography:</label>
  <input id="hero2_biography" type="text" name="biography">
  
  <h2>Hero 3</h2>
  <label for="name">Hero's Name:</label>
  <input id="hero3_name" type="text" name="name"><br>
  <label for="name">Hero's Power:</label>
  <input id="hero3_power" type="text" name="power"><br>
  <label for="name">Hero's Biography:</label>
  <input id="hero3_biography" type="text" name="biography">
  
  
</form>
